*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'josefin sans', sans-serif;
}

.hero {
  height: 200vh;
  width: 100%;
  background-image: url(/Images/Background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
  color: #50C878;
  font-size: 48px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #C8A2C8;
  transition: 0.3s;
}

button {
  border: none;
  background: #C8A2C8;
  padding: 12px 30px;
  border-radius: 30px;
  color: aliceblue;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
}

button:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.container-fluid {
  background-color: black;
  height: 150px;
  margin-top: 3px;
  padding-left: 100px;
}

.navbar-brand {
  color: pink;
  margin: 50px;
}

.navbar-brand:hover {
  color: #6439a9;
}

.services {
  color: #9DD0A3;
  margin: 50px;
}

.nav-feat {
  color: #9DD0A3;
  margin: 50px;
}
.nav-feat:hover {
  background-color: #6439a9;
}

.nav-pric {
  color: #9DD0A3;
  margin: 50px;
}
.nav-pric:hover {
  color:pink;
}

.nav-home {
  color: #9DD0A3;
  margin: 50px;
}
.nav-home:hover {
  color: pink;
}

/*
.dropdown2 {
  display: inline-block;
  position: relative;
}


.dropdown2-content {
  display: none;
  position: absolute;
  top: 75px;
  width: fit-content;
  overflow: auto;
  width: 180px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown2:hover .dropdown2-content {
  display: block;
  -webkit-transition: all .75s ease;
	-moz-transition: all .75s ease;
	-ms-transition: all .75s ease;
	-o-transition: all .75s ease;
	transition: all .75s ease;
}
.dropdown2-content a {
  display: block;
  color: #86C26F;
  padding: 5px;
  text-decoration: none;
}
.dropdown2-content a:hover {
  color: #283648;
  background-color: #86C26F;
}
*/

.container {
  padding: 100px 30px;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

.image-stack__item--top {
  float: left;
  width: 250%;
  margin-left: -115%;
  margin-top: -315%;
}

.image-stack__item--bottom {
  float: left;
  width: 100%;
  margin-left: -35%;
  margin-top: -145%;
}

img {
width: 100%;
}


.text {
text-align: left;
padding-right: 100px;
padding-left: 700px;
margin-top: -105%;
}

h1 {
 color: #C8A2C8;
}

h4 {
  color: aliceblue;
}

.foot {
  position: absolute;
  bottom: -900px;
  width: 100%; 
}

#one {
  max-height: 500px;
}

#two {
  max-height: 500px;
}

#three {
  max-height: 500px;
}

/*
body {
  background-image: url('/Images/Background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
*/

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

#butt {
  margin-left: 700px;
}

